<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
    {{#each data}}
    <a href="/view/{{this._id}}">
    <div class="cards"> 
        <img src="{{this.main_img.link}}" alt="image"><br>
        <p>{{this.title}}</p>
        </div>
        </a>
    {{/each}}
    </div>

 
</body>
</html>