<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <form action="/forgot/{{cate}}" method="post">
            <input type="email" name="email" id="email" placeholder="enter your email"><br>
            <input type="password" name="changeData" id="securityCode" placeholder="{{placeholder}}"><br>
            <a href="/create-account">CREATE NEW ACCOUNT</a>
            <button type="submit">CHECK</button>
        </form>
    </div>

</body>
</html>