#cart_list{
    border: .5px solid #DCDCDC;
    display: flex;
    height: auto;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: white;
}
.cart_opt{
    width: 100%;
    text-align: center;
}
.active_cart{
    border-bottom: 1px solid #3466fc;
    background-color: #F0F0F0;
}